.body {
  margin-top: 4vh;
  height: 42vh;
  border-style: solid;
  border-color: rgb(238, 238, 238);
  overflow-y: auto; 
}

.recentEther {
  width: 20vw;

}

.listeningHistory {

}

.supporting {
  margin-top: 4vh;
  height: 42vh;
  border-style: solid;
  border-color: rgb(238, 238, 238);
  overflow-y: auto;
}

.title {
  font-size: calc(30px - 1vmin);;
  margin-top: 1vh;
  align-items: center;
  width: 25vw;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
}